<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:hz="http://www.hazelcast.com/schema/spring"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
                http://www.hazelcast.com/schema/spring
                http://www.hazelcast.com/schema/spring/hazelcast-spring.xsd">

  <context:annotation-config />

  <hz:hazelcast id="instance">
    <hz:config>
      <hz:spring-aware />
      <hz:cluster-name>dev</hz:cluster-name>
      <hz:network port="5701" port-auto-increment="false">
        <hz:join>
          <hz:multicast enabled="false" />
          <hz:tcp-ip enabled="true">
            <hz:members>127.0.0.1:5701</hz:members>
          </hz:tcp-ip>
        </hz:join>
      </hz:network>
      <hz:map name="Setting">
        <hz:map-store enabled="true"
          implementation="myMapStore" write-delay-seconds="15" />
      </hz:map>
    </hz:config>
  </hz:hazelcast>

  <bean id="myMapStore" class="com.example.datastore.adapter.SettingStore" />

</beans>